body 
{
    background-image: url(./bg.jpg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

main 
{
    max-width: 580px;
}